<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AddressMapper">

    <select id="selectAllByZipCode" resultType="AddressDto">
        SELECT * FROM address WHERE zipCode = #{zipCode};
    </select>

    <select id="selectAllByRoadInfo" resultType="AddressDto">
        SELECT * FROM address WHERE roadName = #{roadName};
    </select>

</mapper>