<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AddressMapper">



    <select id="searchByRoadName" resultType="Address">
        SELECT townCode, cityName, cityCountyName, townName, roadName, zipCode, buildingManagementNum, buildingNameForCity, detailBuildingName
        FROM address
        WHERE   1 = 1
        <if test="cityName != null">
             AND cityName LIKE CONCAT('%',#{cityName}, '%')
        </if>
        <if test="cityCountyName != null">
             AND cityCountyName LIKE CONCAT('%',#{cityCountyName}, '%')
        </if>
        <if test="roadName != null">
            AND roadName LIKE CONCAT('%',#{roadName}, '%')
        </if>
        <if test="buildingNameForCity != null">
            AND buildingNameForCity LIKE CONCAT('%', #{buildingNameForCity}, '%')
        </if>
        LIMIT 10;

    </select>


</mapper>