<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.DeliveryLocationMapper">

    <insert id="insertLocation">
        INSERT INTO store_delivery_location(addressCode, addressName, storeId)
        VALUES (#{addressCode}, #{addressName}, #{storeId});
    </insert>

    <select id="getDeliveryLocation" resultType="DeliveryLocation">
        SELECT addressCode, addressName
        FROM delivery_location
        WHERE (addressName LIKE CONCAT('%', #{addressName}, '%'))
        AND status LIKE CONCAT('존재', '%');
    </select>

    <select id="getStoreDeliveryLocationsByStoreId" resultType="StoreDeliveryLocation">
        SELECT addressCode, addressName, id, storeId
        FROM store_delivery_location
        WHERE storeId = #{storeId};
    </select>

</mapper>