<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MenuMapper">

    <insert id="insertGroupMenu" useGeneratedKeys="true"  keyProperty="id">
        INSERT menu_group(title, description, storeId)
        VALUES (#{title}, #{description}, #{storeId});
    </insert>

    <delete id="deleteGroupMenu">
        DELETE FROM menu_group WHERE id = #{id};
    </delete>

    <select id="getGroupMenuList" resultType="GroupMenu">
        SELECT * FROM menu_group WHERE storeId = #{storeId};
    </select>

    <select id="getGroupMenu" resultType="GroupMenu">
        SELECT * FROM menu_group WHERE id = #{groupMenuId};
    </select>

<!--menu-->

    <insert id="insertMenu" useGeneratedKeys="true"  keyProperty="id">
        INSERT menu(name, groupMenuId, price, description, photo, status)
        VALUES (#{name}, #{groupMenuId}, #{price}, #{description}, #{photo}, #{status});
    </insert>

    <select id="getMenuList" resultType="Menu">
        SELECT * FROM menu WHERE groupMenuId = #{groupMenuId};
    </select>

    <select id="getMenu" resultType="Menu">
        SELECT * FROM menu WHERE id = #{menuId};
    </select>

    <delete id="deleteMenu">
        DELETE FROM menu WHERE id = #{menuId};
    </delete>



<!--option-->

    <insert id="insertOption">
        INSERT `option`(name , menuId) VALUES (#{name}, #{menuId});
    </insert>

    <select id="getOptionList" resultType="Option">
        SELECT * FROM `option` WHERE menuId = #{menuId};
    </select>






</mapper>