<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="findAll" resultType="UserDto">
        SELECT * FROM user;
    </select>

    <insert id="insertUser" parameterType="RegisterRequestDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (password, email, name, phone)
        VALUES(#{password}, #{email}, #{name}, #{phone})
    </insert>

    <select id="isEmailExist" resultType="boolean" >
        SELECT EXISTS(SELECT * FROM user WHERE email = #{email}) as isHave;
    </select>

    <select id="findByEmail" resultType="UserDto" >
        SELECT * FROM user where email = #{email};
    </select>

    <select id="findById" resultType="UserDto" >
        SELECT * FROM user where id = #{id};
    </select>

    <update id="updatePassword" parameterType="Map">
        UPDATE user SET password = #{password} WHERE id = #{id};
    </update>

    <update id="updateName" parameterType="Map">
        UPDATE user SET name = #{name} WHERE id = #{id};
    </update>

</mapper>